
@media screen and (min-width: 300px) and (max-width: 800px) {  

section.video {
    
    padding-bottom: 239px!important;
    
}
    
    .logo{
        
        margin-left: 0;

    }
    
    
    .cont_topo {
    margin-left: 0px;
}

    
    
    header {
    background-size: auto;
    background-position: 32% 50%;
}
    
    
    h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 24px;
    text-align: center;
}
    
    
    h4 {
    color: #fff;
    margin-left: 20%;
    font-size: 15px;
    
}
    
    

}


@media (max-width: 1100px){
  header h2{
    font-size: 2.5em;
  }
  header p{
    right: 7%;
    top: 200px;
  }
  .form{
    margin-top: -100px;
  }
}

@media (max-width: 1000px){
  .form{
    margin-top: 0px;
  }
  header p{
    font-size: 16px;
  }
}

@media (max-width: 900px){
  header h2{
    font-size: 2em;
  }
}

@media (max-width: 800px){
  header p{
    font-size: 15px;
    top: 170px;
  }
}

@media (max-width: 767px){
  header h2{
    font-size: 1.5em;
    top: 20px;
  }
  header p{
    font-size: 13px;
    top: 140px;
    font-family: 'Gotham';
  }
}

@media (max-width:680px){
  header p{
    font-size: 12px;
  }
}

@media (max-width: 585px){
  header h2{
    font-size: 1em;
  }
  header p{
    top: 100px;
  }
}

@media (max-width: 380px){
  header h2{
    font-size: 0.8em;
    text-align: center;
    right: 30%;
  }
  header p{
    top: 75px;
    right: 18%;
    text-align: center;
  }
}
